body {
    padding: 2rem;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    max-width: 60rem;
    margin: auto;
}

input[type=range] {
    margin-top: 2em;
}

pre {
    overflow-x: auto;
}

p {
    text-align: justify;
}

.sliderscont {
    display: flex;
    flex-flow: column;
    width: 40%;
}

.homeLink {
    position: absolute;
    top: -21px;
    height: 40px;
    padding-top: 21px;
    background-color: #222;
    color: #fff;
    border-radius: 9px;
    transition: .2s ease-in-out;
}

.homeLink:hover, .homeLink:focus {
    top: -9px;
}